.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin: 20px;
}

.block-connexion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

.form-field-full-width {
  width: 100%;
  margin: auto;
}

.example-spacer {
  flex: 1 1 auto;
}
